<div class="footer-banner">
    <div class="footer-social">
        <a href="#"><img class="fb" src="/assets/images/facebook.png"></a>
        <a href="#"><img class="tt" src="/assets/images/twitter.png"></a>
        <a href="#"><img class="gh" src="/assets/images/github.png"></a>
        <a href="#"><img class="email" src="/assets/images/email.png"></a>
    </div>
    <span class="quick-links">Quick Links</span>
    <div class="footer-list">
        <a href="#"><P>Quick Link 1</P></a>
        <a href="#"><P>Quick Link 2</P></a>
        <a href="#"><P>Quick Link 3</P></a>
        <a href="#"><P>Quick Link 4</P></a>
        <a href="#"><P>Quick Link 5</P></a>
    </div>

   {% include footer_end.html %}
</div>