<div class="home-banner">

<h2 class="banner-tagline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil delectus quia expedita, repudiandae maxime consectetur doloremque perferendis dicta commodi nulla.</h2>
<div class="social-media">
    <div>
        <a href="https://www.twitter.com" target="_blank"><img class="twitter" src="/assets/images/twitter.png"></a>
    </div>
    <div>
       <a href="https://www.github.com" target="_blank"><img class="github" src="/assets/images/github.png"></a>
    </div>
</div>
</div>