{% assign post = include.post | default: post %}
{% assign full_post = include.full_post | default: false %}
{% assign excerpt = include.excerpt | default: false %}
{% assign link_title = include.link | default: false %}
{% assign author_card = include.author_card | default: false %}
{% assign author = site.data.authors[post.author] %}
{% assign separator = site.excerpt_separator | prepend: "<p>" | append: "</p>" %}
{% assign summary_length = site.blog_summary_length | default: 50 %}
{% assign ignore = include.ignore | default: site.blog_ignore | split: ',' %}
{% assign summary_headings = site.blog_summary_headings %}
{% assign heading_summary = include.heading_summary %}
{% assign newline = '
' %}

<article class="post {% if full_post %}post-full{% else %}post-block{% endif %}">
  <header class="post-header">
    <div class="post-container">
    <h2 class="post-title">
      {% if link_title %}
        <a class="post-title"href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      {% else %}
        {{ post.title | escape }}
      {% endif %}
    </h2>
    <div class="post-detail">
      <span class="author"><a href="{{ site.baseurl }}/blog/authors#{{ post.author }}">by {{ post.author }}</a></span>
      <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
     </div>
    <div class="categories"><span>Categories: {% for cat in post.categories %}<a href="{{ site.baseurl }}/blog/categories#{{ cat }}">{{ cat }}</a>{% endfor %}</span>
    </div>
  </header>

{% if full_post %}
 <div class="post-content"><p>{{ content }}</p></div>
{% else %}
 <div class="post-desc"><p>{% if post.summary-1 %}{{post.summary-1}}{% endif %}</p></div>
{% endif %}
</article>
