<div class="search-box">

    <input type="text" id="query" class="query" placeholder="Search here" autofocus>
    <button type="submit" class="submit" onclick="siteSearch();">Search</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/assets/search.js"></script>
