---
layout: default
---
<div class="contents">
    <h1 class="content-heading">Heading 1</h1>
    <div class="toc">
        <dl>
            <dt>Sub Heading 1</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content1.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content2.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

            <dt>Sub Heading 2</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content3.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content4.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

        </dl>
    </div>
    <h1 class="content-heading">Heading 1</h1>
    <div class="toc">
        <dl>
            <dt>Sub Heading 1</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content5.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content6.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

            <dt>Sub Heading 2</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content7.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content8.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

        </dl>
        <h1 class="content-heading">Heading 1</h1>
    <div class="toc">
        <dl>
            <dt>Sub Heading 1</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content5.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content6.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

            <dt>Sub Heading 2</dt>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content7.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>
            <dd><span> <a class="doc-link" href="{{site.baseurl }}{% link documentation/files/content8.md %}">Some document markdown file</a></span><span> -- some description about the file</span></dd>

        </dl>
    </div>


<h3>Individual code blocks can be added here with the code tag</h3>
<code>Individual code blocks</code>
<h2>Code snippets can be added with pre tag</h2>
<pre>$(function (){
    $("a.cross").on("click", function(){
      $(".cross").css('visibility', 'hidden');
      $(".wrapper").css('height', '72px');
      $(".burger").css('visibility', 'visible');
    });
  });
</pre>
<H3>table values</H3>
<Table>
    <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th>Heading</th>
        <th>Heading</th>
    </tr>
    <tr>
        <td>Some Data</td>
        <td>Some Data</td>
        <td>Some Data</td>
        <td>Some Data</td>
    </tr>
    <tr>
        <td>Some Data</td>
        <td>Some Data</td>
        <td>Some Data</td>
        <td>Some Data</td>
    </tr>


</Table>
</div>
