---
---

// does not work
$header-heading-color: red;
// works
$footer-color: red;

@import "website-jekyll-base";

// not supported by sassc
// https://github.com/jekyll/jekyll-sass-converter/issues/116
// and Jekyll 4 does not seem to support the new implementation
// @use "website-jekyll-base" with {
//     $header-bg-color: #ff0000;
// };

