---
layout: default
index: false
---

<h1 class="blog-title">Blog Categories</h1>
<div class="category-container">
    {% for category in site.categories %}
      <h1><a class="category-title" >{{ category | first }}</a></h1>

        {% for post in category.last %}
          <p><a class="category-list" href="{{ post.url }}">{{ post.title }}</a></p>
        {% endfor %}

    {% endfor %}

  </div>
