@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import 'variables';

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.wrapper {
    line-height: 72px;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 99999;
    nav {
        background: $nav-color;
        ul.nav-menu {
            margin: 0;
            text-align: right;
            margin-right: 5em;

            @include medium{
              display: flex;
                flex-direction: column;

                text-align: left;
                padding-top: 50px;
                font-size: 14px;
            }

            @include small{
              display: flex;
                flex-direction: column;

                text-align: left;
                padding-top: 50px;
                font-size: 14px;
            }
            li {
              text-transform: uppercase;
                display: inline;
                list-decoration: none;
                font-size: 110%;
                font-weight: 600;
                margin: 0 1em 0 0.1em;


	        }

        }


    }
    @include medium {
      height: 72px;
    }
    @include small{
      height: 72px;
    }
}

.h-logo{
  position: absolute;
  padding-top: 10px;
  left: 109px;
  width: 60px;

  @include medium {
    display: flex;
    justify-content: center;
  }

  @include small {
    left: 0;
    padding-left: 20px;


  }
}

.burger{
  visibility: hidden;

  @include medium{
      visibility: visible;
      position: absolute;
      top: 15px;
      right: 10px;
  }


  @include small{
    visibility: visible;
    position: absolute;
    top: 15px;
    right: 10px;
  }
}
.cross{
  visibility: hidden;
  @include medium{
    position: absolute;
      top: 10px;
      right: 15px;
  }
  @include small{
    position: absolute;
      top: 10px;
      right: 15px;
  }
}

.active{
 a{ color:$active-color;
}
}