@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import 'variables';

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.post-title{

    color:black;

}

.blog-posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.blog-title{

    font-size: 50px;
}

.post-full {
    width: 80%;
}

.post-block{
    width: 26rem;
    position: relative;
    padding: 20px;
}
.post-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.post-detail{
    display: flex;
    justify-content: space-between;

}
.author{
    a{
        color: blue;
    }
}
.date{
    color: cadetblue;
    font-weight: lighter;
    font-size: 14px;
}
.categories{
    a{
        color: darkmagenta;
    }
}
.post-desc{
    margin-top: 1rem;
}

.author-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
@include large{
    width: 60rem;
}

}
.author-item{
    width: 20rem;
    a{
        color: chocolate;
    }
}
.author-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.category-container{
    margin-left: 10rem;
    @include medium{
        margin-left: 5rem;
    }
    @include small{
        margin-left: 3rem;
    }
}
.category-title{
    color: $blog-title-color;
}
.category-list{
    color: $blog-a-color;
}
