@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import 'variables';

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}
.search-body{
    @include large{
        margin-left: 10rem;
    }

}
.search-link{
    color: $doc-a-color;
}
.search-card{

    margin-top: 1rem;
    margin-bottom: 1rem;
    h2{
        margin-bottom: 0.2rem;
    }
}
.search-container{
  padding: 2rem;

}
.search-box{
    font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 1rem;
    position: relative;
    }
.query{
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}
.query{
    width: 70%;
}
.submit{
  position: absolute;
  height: 33px;
  width: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;



}

.document-search{
  display: block;
    h1{
        display: none;
    }
}

.page-content{
  flex: 1;
}

